<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MNG-Ads-SDK-Demo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>39945D7112055DE2987549B659D35CAF64BE9B7E</string>
				<key>dateExpires</key>
				<string>17/10/2021</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>39945D7112055DE2987549B659D35CAF64BE9B7E</string>
						<key>dateExpires</key>
						<string>17/10/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DTBiOSSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PD25VRRWZN</string>
						<key>name</key>
						<string>Madvertise</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>39945D7112055DE2987549B659D35CAF64BE9B7E</string>
						<key>dateExpires</key>
						<string>17/10/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MAdvertiseCMP.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PD25VRRWZN</string>
						<key>name</key>
						<string>Madvertise</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>39945D7112055DE2987549B659D35CAF64BE9B7E</string>
						<key>dateExpires</key>
						<string>17/10/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MAdvertiseLocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PD25VRRWZN</string>
						<key>name</key>
						<string>Madvertise</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>39945D7112055DE2987549B659D35CAF64BE9B7E</string>
						<key>dateExpires</key>
						<string>17/10/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SASDisplayKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PD25VRRWZN</string>
						<key>name</key>
						<string>Madvertise</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>39945D7112055DE2987549B659D35CAF64BE9B7E</string>
						<key>dateExpires</key>
						<string>17/10/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SCSCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PD25VRRWZN</string>
						<key>name</key>
						<string>Madvertise</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PD25VRRWZN.com.madvertise.inhouse.bluestack</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PD25VRRWZN</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>PD25VRRWZN.com.madvertise.inhouse.bluestack</string>
				</array>
			</dict>
			<key>name</key>
			<string>BlueStack-Demo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b965b0c1-15d8-449e-ba97-e38427c3cd85</string>
				<key>name</key>
				<string>com.madvertise.inhouse.bluestack</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PD25VRRWZN</string>
				<key>name</key>
				<string>Madvertise</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
