<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429857179386-9ejgmetp011p59fitpjaou2c3r23hcm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429857179386-9ejgmetp011p59fitpjaou2c3r23hcm7</string>
	<key>API_KEY</key>
	<string>AIzaSyDLbx5ApIQP9mRL4rCxoRn-QWI-7nwGal0</string>
	<key>GCM_SENDER_ID</key>
	<string>429857179386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madvertise.inhouse.bluestack</string>
	<key>PROJECT_ID</key>
	<string>bluestack-sdk</string>
	<key>STORAGE_BUCKET</key>
	<string>bluestack-sdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429857179386:ios:1429934ad222a2741d2b43</string>
	<key>DATABASE_URL</key>
	<string>https://bluestack-sdk.firebaseio.com</string>
</dict>
</plist>